@mixin display-flex($justify-content, $align-items){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin not-last-child($selector) {
    & #{$selector}:not(:last-child) {
        @content;
    }
}

@function set-color($color) {
    @if (lightness($color) > 40) {
      @return $bg-color;
    }
    @else {
      @return #FFF;
    }
}